<div class="col-md-8 mx-md-auto mt-5 mb-5">
  <%= form_for [:admin, developer] do |form| %>
    <% if developer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

        <ul>
        <% developer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, id: :developer_first_name, class: "form-control" %>
        </div>
      </div> 
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, id: :developer_last_name, class: "form-control" %>
        </div>
      </div>   
    </div>  

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :contact_number %>
          <%= form.text_field :contact_number, id: :developer_contact_number, class: "form-control" %>
        </div>
      </div> 
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, id: :developer_email, class: "form-control" %>
        </div>
      </div>   
    </div>  

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :profile_photo %>
          <%= form.file_field :profile_photo, id: :developer_profile_photo%>
        </div>
      </div> 
      <div class="col-md-6">  
        <div class="form-group">
          <%= form.label :date_of_birth %>
          <br>
          <%= form.date_select :date_of_birth, id: :developer_date_of_birth, class: "form-control" %>
        </div>
      </div>   
    </div> 

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :permanent_address %>
          <%= form.text_field :permanent_address, id: :developer_permanent_address, class: "form-control" %>
        </div>
      </div> 
      <div class="col-md-6">  
        <div class="form-group">
          <%= form.label :developer_type %>
          <%= form.text_field :developer_type, id: :developer_developer_type, class: "form-control" %>
        </div>
      </div>   
    </div> 

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :about %>
          <%= form.text_area :about, id: :developer_about, class: "form-control" %>
        </div>
      </div> 
      <div class="col-md-6">  
        <div class="form-group">
          <%= form.label :city %>
          <%= form.text_field :city, id: :developer_city, class: "form-control" %>
        </div>
      </div>   
    </div> 

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :state %>
          <%= form.text_field :state, id: :developer_state, class: "form-control" %>
        </div>
      </div> 
      <div class="col-md-4">  
        <div class="form-group">
          <%= form.label :country %>
          <%= form.text_field :country, id: :developer_country, class: "form-control" %>
        </div>  
      </div>   
      <div class="col-md-4">  
        <div class="form-group">
          <%= form.label :zipcode %>
          <%= form.text_field :zipcode, id: :developer_zipcode, class: "form-control" %>
        </div>
      </div> 
    </div>
   
    <div class="actions mt-4">
      <%= form.submit class: "btn btn-primary" %>
      
    </div>
  <% end %>
</div>