<%= form_for [:admin, developer] do |form| %>
  <% if developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :developer_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :developer_last_name %>
  </div>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number, id: :developer_contact_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :developer_email %>
  </div>

  <div class="field">
    <%= form.label :profile_photo %>
    <%= form.text_field :profile_photo, id: :developer_profile_photo %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :developer_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :permanent_address %>
    <%= form.text_field :permanent_address, id: :developer_permanent_address %>
  </div>

  <div class="field">
    <%= form.label :developer_type %>
    <%= form.text_field :developer_type, id: :developer_developer_type %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :developer_about %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :developer_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :developer_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :developer_country %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :developer_zipcode %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :developer_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :developer_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
