<div class="container">

  <h1 class="mt-5">Developers</h1>
  <div class="table-responsive mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Contact number</th>
          <th>Email</th>
          <th>Profile photo</th>
          <th>DOB</th>
          <th>Permanent address</th>
          <th>Developer type</th>
          <th>About</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Zipcode</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @developers.each do |developer| %>
          <tr>
            <td><%= developer.first_name %></td>
            <td><%= developer.last_name %></td>
            <td><%= developer.contact_number %></td>
            <td><%= developer.email %></td>
            <td><%= image_tag developer.profile_photo, class: "w-75" %></td>
            <td><%= developer.date_of_birth %></td>
            <td><%= developer.permanent_address %></td>
            <td><%= developer.developer_type %></td>
            <td><%= developer.about %></td>
            <td><%= developer.city %></td>
            <td><%= developer.state %></td>
            <td><%= developer.country %></td>
            <td><%= developer.zipcode %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Show', admin_developer_path(developer),class: "dropdown-item" %>
                  <%= link_to 'Edit', edit_admin_developer_path(developer), class: "dropdown-item" %>
                  <%= link_to 'Destroy', admin_developer_path(developer), method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item"  %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  

  <%= link_to 'New Developer', new_admin_developer_path, class: "btn btn-primary mt-3" %>
</div>  
