<div class="container">

  <h1 class="mt-2">Developers</h1>
  <%= search_form_for @search, url: :admin_developers do |f| %>
    <div class="row">
      <div class="from-group col-md-3">
        <%= f.text_field :first_name_cont, class: "form-control", placeholder: "First name" %>
      </div>
      <div class="from-group col-md-3">
        <%= f.text_field :last_name_cont, class: "form-control", placeholder: "Last name" %>
      </div>
      <div class="from-group col-md-3">
        <%= f.text_field :email_cont, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="from-group col-md-3">
        <%= f.text_field :contact_number_cont, class: "form-control", placeholder: "Contact number" %>
      </div>
    </div>
    <div class="row mt-2">
       <div class="from-group col-md-3">
        <%= f.text_field :permanent_address_cont, class: "form-control", placeholder: "Permanent address" %>
      </div>
      <div class="from-group col-md-3">
        <%= f.text_field :zipcode_cont, class: "form-control", placeholder: "Zipcode" %>
      </div>
      <div class="from-group col-md-3">
        <%= f.text_field :city_cont, class: "form-control", placeholder: "City" %>
      </div>
      <div class="from-group col-md-3">
        <%= f.text_field :state_cont, class: "form-control", placeholder: "State" %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="from-group col-md-3">
        <%= f.text_field :country_cont, class: "form-control", placeholder: "Country" %>
      </div>
    </div>
    <div class="actions mt-2"><%= f.submit "Search", class: "btn btn-info" %></div>
  <% end %>
  <div class="table-responsive mt-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Profile photo</th>
          <th>Name</th>
          <th>Email</th>
          <th>Developer type</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @developers.each do |developer| %>
          <tr>
            <td><%= image_tag developer.profile_photo, style: "width:60px;height:60px;border-radius:50%;border:2px solid #ccc;" %></td>
            <td><%= developer.name %></td>
            <td><%= developer.email %></td>
            <td><%= developer.developer_type %></td>
            <td><%= developer.city %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Show', admin_developer_path(developer),class: "dropdown-item" %>
                  <%= link_to 'Edit', edit_admin_developer_path(developer), class: "dropdown-item" %>
                  <%= link_to 'Destroy', admin_developer_path(developer), method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item"  %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="justify-content-center">
    <%= paginate @developers %>
  </div>

  <%= link_to 'New Developer', new_admin_developer_path, class: "btn btn-primary mt-3" %>
</div>  
