<div class="container">
  <div class="card mt-5 mb-5">
    <div class="card-body">
      <p>
        <strong>First name:</strong>
        <%= @developer.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @developer.last_name %>
      </p>

      <p>
        <strong>Contact number:</strong>
        <%= @developer.contact_number %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @developer.email %>
      </p>

      <p>
        <strong>Profile photo:</strong><br>
        <% if @developer.profile_photo.present? %>
          <%= image_tag @developer.profile_photo, class: "w-25" %>
        <% end %>  
      </p>

      <p>
        <strong>Date of birth:</strong>
        <%= @developer.date_of_birth %>
      </p>

      <p>
        <strong>Permanent address:</strong>
        <%= @developer.permanent_address %>
      </p>

      <p>
        <strong>Developer type:</strong>
        <%= @developer.developer_type %>
      </p>

      <p>
        <strong>About:</strong>
        <%= @developer.about %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @developer.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @developer.state %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @developer.country %>
      </p>

      <p>
        <strong>Zipcode:</strong>
        <%= @developer.zipcode %>
      </p>

      <p>
        <strong>Latitude:</strong>
        <%= @developer.latitude %>
      </p>

      <p>
        <strong>Longitude:</strong>
        <%= @developer.longitude %>
      </p>

      <%= link_to 'Edit', edit_admin_developer_path(@developer), class: "btn btn-primary" %> |
      <%= link_to 'Back', admin_developers_path, class: "btn btn-secondary" %> | 
      <%= link_to 'Add Skills to Developers', add_skills_admin_developer_path(@developer), class: "btn btn-success" %>
    </div>  
  </div>  
</div>  
