<div class="jumbotron">
  <h1 class="display-4 text-center mb-4 disply-4-site">Find Your Developer</h1>
  <div class="col-md-11 mx-md-auto">
    <div class="card mb-3">
      <div class="card-body p-5">
        <%= form_for :search_developer, url: "#", method: :get do |f| %>
          <%= f.hidden_field :latitude, id: :latitude %>
          <%= f.hidden_field :longitude, id: :longitude %>
          <div class="row">
            <div class="col-md-3">
              <%= f.text_field :skill, class: "form-control", id: :tags, placeholder: "Search by Skill"  %>
            </div>
            <div class="col-md-7">
              <%= f.text_field :address, class: "form-control", id: "autocomplete", onFocus: "geolocate()", placeholder: "Search by Location" %>
            </div>
            <div class="col-md-2">
              <%= f.submit "Search", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-10 mx-md-auto">
    <p class="lead text-center lead-p-site">We provide you developers of all types like mobile developers, web developers, frontend developers, backend developers or fullstack developers from all over the world. Find developers by skills or location. </p>
    <hr class="my-4">
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
</div>

<script>
  $( function() {
    attags = "/skill-titles.json";
    console.log(attags);
    availableTags = [];
    $.getJSON(attags, function(data){
      $.each(data, function (index, value) {
        availableTags.push(value);
      });
    });
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
</script>

<script>
  var placeSearch, autocomplete;
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete')),
        {types: ['geocode']});
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    var place = autocomplete.getPlace();
    $("#latitude").val(place.geometry.location.lat());
    $("#longitude").val(place.geometry.location.lng());
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFBYM37YGMTdgkEp9fipPljSjprTDZL8Y&libraries=places&callback=initAutocomplete"
  async defer>
</script>