<div class="container">
  <div class="row">
    <div class="col-md-7">
      <% @developers.each do |developer| %>
        <div class="card mt-3 mb-3 custom-box">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-4 text-center">
                <%= image_tag developer.profile_photo.url, style: "width:140px;height:140px;border-radius:50%;border:2px solid #ccc;"  if developer.profile_photo.present? %>
                <h6 class="font-normal mt-3"><%= developer.name.titleize%></h6>
              </div>
              <div class="col-md-8">
                <p><i class="fa fa-envelope font-blue"></i> <%= developer.email %></p>
                <p><i class="fa fa-phone font-blue"></i> <%= developer.contact_number %></p>
                <p><i class="fa fa-map-marker font-blue"></i> <%= developer.permanent_address %></p>
                <p>
                  <%= link_to "/profiles/#{developer.id}", class: "btn btn-psrimary" do %>
                    <i class="fa fa-eye"></i> View Profile
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-5 mt-3">
      <div id="map"></div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFBYM37YGMTdgkEp9fipPljSjprTDZL8Y">
</script>

<script type="text/javascript">
  var locations = [];

  <% @developers.all.each do |developer| %>
    locations.push(["<%= developer.country %>", <%= developer.latitude %>, <%= developer.longitude %>, "<%= developer.name.titleize %>"]);
  <% end %>

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: new google.maps.LatLng(locations[0][1], locations[0][2]),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    developer_name = locations[i][3];
    developer_country = locations[i][0];
    
    var infowindow = new google.maps.InfoWindow({
      content: developer_name + " <br> <font style='color:#fc9a01;'>from <b>"+ developer_country+ "</b></font>"
    });
    infowindow.open(map, marker);

    google.maps.event.addListener(marker, 'click', (function(marker, map) {
      infowindow.open(map, marker);
    })(marker, map));
  }

</script>
